<footer class="w-full bg-gray-000  block-content shadow-8 bg-cover "
    style="position:static;bottom:0; background-image: url(../../assets/img/pexels-mateusz-dach-362137.jpg)  ; ">
    <section class="ng-star-inserted shadow">
        <div
            class="p-8 flex justify-content-center md:justify-content-end bg-no-repeat bg-cover md:bg-contain bacground">
            <div class="px-5">
                <div class="text-white font-bold text-6xl">Ready to build beyond</div>
                <div class="text-blue-200 font-bold text-6xl">your expectations? ;)</div>
                <div class="mt-3 mb-5 text-gray-200 font-medium line-height-3">Vestibulum sed arcu non odio euismod
                    lacinia at quis risus. Massa massa ultricies mi quis. </div>
            </div>
        </div>
    </section>
</footer>