<div class="surface-overlay py-3 px-6 shadow-2 flex align-items-center justify-content-between relative lg:static"
style="min-height: 70px;">
<div class="ml-0 lg:mr-6">
    <p style="font-family: English;letter-spacing: 5px;" class="m-0"><span style="font-size:30px;" class="text-orange-700 font-medium" >l</span>amiz</p>
</div>
<div  class="flex align-items-center justify-content-end hidden lg:flex absolute lg:static w-full surface-overlay left-0 top-100 z-1  ">
<ul  class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row">
    <li><a class="p-ripple p-element flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150  " href="">
  
        <samp style="font-size:16px;font-family:fon ;" >سفارش ها </samp><i class="pi  pi-shopping-cart ml-2">
            <span id="pr_id_5_badge" style="top:6px ;" class="p-badge p-component absolute p-badge-danger p-badge-dot"></span>
        </i> </a></li>
    <li><a class="p-ripple p-element flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150  " href="#"> <samp style="font-size:16px;font-family:fon ;" > ایجاد محصول  </samp><i class="pi pi-list ml-2"></i> </a></li>
    <li><a class="p-ripple p-element flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150  " href="#"> <samp style="font-size:16px;font-family:fon ;" >خانه</samp><i class="pi pi-home ml-2"></i> </a></li>
    <li><a class="p-ripple p-element flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150  " href="#"> <img src="../assets/img/pexels-vinicius-altava-2657582.jpg" style="object-fit: cover;border-radius: 50%  ;width: 28px; height: 28px;"
     alt=""> </a></li>
</ul>
</div>
</div>
