<div class=" px-4 py-8 md:px-6 lg:px-8" style="font-family:fon ;" >
    <div class="text-900 text-right font-medium text-4xl mb-4" style="font-family:fon ;">قهو ها
    </div>
    <div class="grid -mt-3 -ml-3 -mr-3">
        <div class="col-12 md:col-6 lg:col-4">
            <div class="p-2">
                <div class="shadow-2 p-4 surface-card border-round">
                    <div class="relative mb-3 ">
                        <span class="surface-card text-red-600 shadow px-3 py-2 absolute"
                            style="border-radius: 1.5rem; left: -1rem; top: -1rem;">50% off</span>


                        <img    class="w-full h-24rem" src="../../assets/img/pexels-johnny-willz-997656.jpg" style="object-fit: cover;">
                    </div>
                    <div style="font-family:fon ;" class="flex justify-content-between align-items-center mb-3">
                        <span>
                            <span class="font-medium">5.0</span>
                            <i class="pi pi-star-fill text-yellow-500 ml-1"></i>
                        </span>
                        <span>
                            <span class="text-900 font-medium text-xl">
                                نام محصول
                            </span>
                        </span>
                    </div>
                    <p    dir="rtl" class="mt-0 mb-3  line-height-3 text-600 text-justify   surface-overlay  p-3 mt-3 "> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                         از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
                        که لازم است، </p>
       
                     
                        <div style="font-family:fon ;" class="flex justify-content-between mb-3">
                            <div class="field-radiobutton">
                                <p-radioButton name="larg" value="larg" [(ngModel)]="city" inputId="larg"></p-radioButton>
                                <label for="larg">بزرگ</label>
                            </div>
                            <div class="field-radiobutton">
                                <p-radioButton name="medium" value="medium " [(ngModel)]="city" inputId="medium"></p-radioButton>
                                <label for="medium">متوسط</label>
                            </div>
                            <div class="field-radiobutton">
                                <p-radioButton name="small" value="small" [(ngModel)]="city" inputId="small"></p-radioButton>
                                <label for="small">کوچک</label>
                            </div>
                         

                           
                            </div>
                            <div class="col-12 md:col-6 lg:col-4">
                            <div class="">
                                <label for="vertical" style="display: block">Vertical</label>
                                <p-inputNumber  [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical"
                                decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
                                </p-inputNumber>
                            </div>
                        </div>

                            <p dir="ltr" class="text-primary  text-right text-xl font-medium"  style="font-family:fon ;"  style="font-family:fon ;" >۱۲۰۰۰۰۰ ریال</p>
                </div>
            </div>  
        </div>

    </div>
</div>

<!-- ۱۲۳۴۵۶۷۸۹۰ -->